.clip-art {
    width: 50%;
  }
  
  .clip-art-card {
    width: 300px;
  }
  
  .our-culture-card {
    height: 330px;
    padding: 30px;
    border: 1px #000046 solid;
    background-color: white;
    color: #2446b2;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  