

.card-title{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-title .label ion-icon, .card-text .label ion-icon{
    margin: 0 30px;
}

.card-text{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width:600px){
    .myCard{
        width: 100%;
    }

    .card-title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-title .label ion-icon{
        margin: 0;
    }

    .card-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-text:nth-child(1){
        margin-top: 50px;
    }
    

}