.docs-req-div{
    /* margin: 50px 0px; */
    /* width: ; */
    padding: 50px 50px;

    background-color: #000047;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    margin-bottom: 30px;
    box-shadow: 5px 5px 15px #000;

}

.docs-req-div h4{
    color: #fff;
}